## Before we start, here is some weird code ...

In [17]:
a = 5
b = 3*[a]
c = [b, b, b]

c

[[5, 5, 5], [5, 5, 5], [5, 5, 5]]

In [18]:
a = 4
c

[[5, 5, 5], [5, 5, 5], [5, 5, 5]]

In [19]:
b[0] = 4
c

[[4, 5, 5], [4, 5, 5], [4, 5, 5]]

#### What the heck happened here?

- My old answer: Draw diagrams and take about mutation and pointers
- My (functional) answer: who cares.

# File handler object and opening and closing files

* `open` creates a file handler
    * Not the file itself
    * used to read and write
* Needs proper handling
    * open
    * close
    * flush

In [1]:
# read ('r') is the default mode
f = open('./data/Batting.csv')

In [2]:
type(f)

_io.TextIOWrapper

In [3]:
f

In [4]:
lines = f.readlines()
f.close()

In [5]:
lines[:10]

['playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP\n',
 'abercda01,1871,1,TRO,NA,1,4,0,0,0,0,0,0,0,0,0,0,,,,,0\n',
 'addybo01,1871,1,RC1,NA,25,118,30,32,6,0,0,13,8,1,4,0,,,,,0\n',
 'allisar01,1871,1,CL1,NA,29,137,28,40,4,5,0,19,3,1,2,5,,,,,1\n',
 'allisdo01,1871,1,WS3,NA,27,133,28,44,10,2,2,27,1,1,0,2,,,,,0\n',
 'ansonca01,1871,1,RC1,NA,25,120,29,39,11,3,0,16,6,2,2,1,,,,,0\n',
 'armstbo01,1871,1,FW1,NA,12,49,9,11,2,1,0,5,0,1,0,1,,,,,0\n',
 'barkeal01,1871,1,RC1,NA,1,4,0,1,0,0,0,2,0,0,1,0,,,,,0\n',
 'barnero01,1871,1,BS1,NA,31,157,66,63,10,9,0,34,11,6,13,1,,,,,1\n',
 'barrebi01,1871,1,FW1,NA,1,5,1,1,1,0,0,1,0,0,0,0,,,,,0\n']

## Using the `with` statement to abstract context management

* opening and closing is *context management*
* Automate this with ``with``
    * safe and **important**

#### Reading the whole file as a single string with `read`

In [7]:
with open('./data/Batting.csv') as f:
    lines = f.read()
lines[:1000]

'playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP\nabercda01,1871,1,TRO,NA,1,4,0,0,0,0,0,0,0,0,0,0,,,,,0\naddybo01,1871,1,RC1,NA,25,118,30,32,6,0,0,13,8,1,4,0,,,,,0\nallisar01,1871,1,CL1,NA,29,137,28,40,4,5,0,19,3,1,2,5,,,,,1\nallisdo01,1871,1,WS3,NA,27,133,28,44,10,2,2,27,1,1,0,2,,,,,0\nansonca01,1871,1,RC1,NA,25,120,29,39,11,3,0,16,6,2,2,1,,,,,0\narmstbo01,1871,1,FW1,NA,12,49,9,11,2,1,0,5,0,1,0,1,,,,,0\nbarkeal01,1871,1,RC1,NA,1,4,0,1,0,0,0,2,0,0,1,0,,,,,0\nbarnero01,1871,1,BS1,NA,31,157,66,63,10,9,0,34,11,6,13,1,,,,,1\nbarrebi01,1871,1,FW1,NA,1,5,1,1,1,0,0,1,0,0,0,0,,,,,0\nbarrofr01,1871,1,BS1,NA,18,86,13,13,2,1,0,11,1,0,0,0,,,,,0\nbassjo01,1871,1,CL1,NA,22,89,18,27,1,10,3,18,0,1,3,4,,,,,0\nbattijo01,1871,1,CL1,NA,1,3,0,0,0,0,0,0,0,0,1,0,,,,,0\nbealsto01,1871,1,WS3,NA,10,36,6,7,0,0,0,1,2,0,2,0,,,,,2\nbeaveed01,1871,1,TRO,NA,3,15,7,6,0,0,0,5,2,0,0,0,,,,,0\nbechtge01,1871,1,PH1,NA,20,94,24,33,9,1,1,21,4,0,2,2,,,,,1\nbellast01,1871,1,TRO,NA,29,128,26,32,3,3,0,23,4,'

#### Reading as a list of lines with `readlines` [most useful]

In [8]:
with open('./data/Batting.csv') as f:
    lines = f.readlines()
lines[:10]

['playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP\n',
 'abercda01,1871,1,TRO,NA,1,4,0,0,0,0,0,0,0,0,0,0,,,,,0\n',
 'addybo01,1871,1,RC1,NA,25,118,30,32,6,0,0,13,8,1,4,0,,,,,0\n',
 'allisar01,1871,1,CL1,NA,29,137,28,40,4,5,0,19,3,1,2,5,,,,,1\n',
 'allisdo01,1871,1,WS3,NA,27,133,28,44,10,2,2,27,1,1,0,2,,,,,0\n',
 'ansonca01,1871,1,RC1,NA,25,120,29,39,11,3,0,16,6,2,2,1,,,,,0\n',
 'armstbo01,1871,1,FW1,NA,12,49,9,11,2,1,0,5,0,1,0,1,,,,,0\n',
 'barkeal01,1871,1,RC1,NA,1,4,0,1,0,0,0,2,0,0,1,0,,,,,0\n',
 'barnero01,1871,1,BS1,NA,31,157,66,63,10,9,0,34,11,6,13,1,,,,,1\n',
 'barrebi01,1871,1,FW1,NA,1,5,1,1,1,0,0,1,0,0,0,0,,,,,0\n']

## Manually splitting comma-separated lines

In [9]:
split_lines = [line.split(',') for line in lines]
split_lines[:5]

[['playerID',
  'yearID',
  'stint',
  'teamID',
  'lgID',
  'G',
  'AB',
  'R',
  'H',
  '2B',
  '3B',
  'HR',
  'RBI',
  'SB',
  'CS',
  'BB',
  'SO',
  'IBB',
  'HBP',
  'SH',
  'SF',
  'GIDP\n'],
 ['abercda01',
  '1871',
  '1',
  'TRO',
  'NA',
  '1',
  '4',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '0\n'],
 ['addybo01',
  '1871',
  '1',
  'RC1',
  'NA',
  '25',
  '118',
  '30',
  '32',
  '6',
  '0',
  '0',
  '13',
  '8',
  '1',
  '4',
  '0',
  '',
  '',
  '',
  '',
  '0\n'],
 ['allisar01',
  '1871',
  '1',
  'CL1',
  'NA',
  '29',
  '137',
  '28',
  '40',
  '4',
  '5',
  '0',
  '19',
  '3',
  '1',
  '2',
  '5',
  '',
  '',
  '',
  '',
  '1\n'],
 ['allisdo01',
  '1871',
  '1',
  'WS3',
  'NA',
  '27',
  '133',
  '28',
  '44',
  '10',
  '2',
  '2',
  '27',
  '1',
  '1',
  '0',
  '2',
  '',
  '',
  '',
  '',
  '0\n']]

## Processing csv files with `csv.reader`

* Stores each row as a list of strings,
* Header is the first row/entry
* Automatically splits files
* defaults to `delimit = ','`

In [10]:
import csv

with open('./data/Batting.csv') as f:
    reader = csv.reader(f)
    split_lines = [line for line in reader]
split_lines[:2]

[['playerID',
  'yearID',
  'stint',
  'teamID',
  'lgID',
  'G',
  'AB',
  'R',
  'H',
  '2B',
  '3B',
  'HR',
  'RBI',
  'SB',
  'CS',
  'BB',
  'SO',
  'IBB',
  'HBP',
  'SH',
  'SF',
  'GIDP'],
 ['abercda01',
  '1871',
  '1',
  'TRO',
  'NA',
  '1',
  '4',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '0',
  '',
  '',
  '',
  '',
  '0']]

## Processing csv files with `csv.DictReader`

* Stores each row as a `dict` of `col_name:value` pairs
* No header needed,
* defaults to `delimit = ','`

In [20]:
with open('./data/Batting.csv') as f:
    dict_reader = csv.DictReader(f)
    rows = [r for r in dict_reader]
rows[:2]

[{'playerID': 'abercda01',
  'yearID': '1871',
  'stint': '1',
  'teamID': 'TRO',
  'lgID': 'NA',
  'G': '1',
  'AB': '4',
  'R': '0',
  'H': '0',
  '2B': '0',
  '3B': '0',
  'HR': '0',
  'RBI': '0',
  'SB': '0',
  'CS': '0',
  'BB': '0',
  'SO': '0',
  'IBB': '',
  'HBP': '',
  'SH': '',
  'SF': '',
  'GIDP': '0'},
 {'playerID': 'addybo01',
  'yearID': '1871',
  'stint': '1',
  'teamID': 'RC1',
  'lgID': 'NA',
  'G': '25',
  'AB': '118',
  'R': '30',
  'H': '32',
  '2B': '6',
  '3B': '0',
  'HR': '0',
  'RBI': '13',
  'SB': '8',
  'CS': '1',
  'BB': '4',
  'SO': '0',
  'IBB': '',
  'HBP': '',
  'SH': '',
  'SF': '',
  'GIDP': '0'}]

## Application - Working with unusual data

* CSV with different number of commas.
* Data tables with a fixed width.

### Example 1 - Different number of commas.

Complete the following steps by following along with the instructor.

#### Step 1a - Read in the "bad" version of the Walmart data as lines and manually split.

In [1]:
# Your code here
with open('./data/Walmart_United_States_&_Canada_bad.csv') as f:
    lines = f.readlines()
lines[:10]

['ï»¿-114.005671,51.262567,Walmart Supercentre; #1050,,2881 Main St SW,Airdrie ,AB T4B 3G5,(403) 945-1295\n',
 '-111.900542,50.577939,Walmart Supercentre; #3658,,917 3rd St W,Brooks ,AB T1R 1L5,(403) 793-2111\n',
 '-114.039133,51.107253,Walmart Supercentre; #3013,,1110 57th Ave NE,Calgary ,(NOP),AB T2E 9B7,(403) 730-0990\n',
 '-114.138488,51.040871,Walmart Supercentre; #3009,Gas,,1212 37 St SW,Calgary ,(NOP),AB T3C 1S3,(403) 242-2205\n',
 '-114.028603,50.930551,Walmart; #1144,,1221 Canyon Meadows Dr SE,Calgary ,AB T2J 6G2,(403) 225-6638\n',
 '-113.91159,51.04009,Walmart Supercentre; #1136,,255 E Hills Blvd SE,Calgary ,AB T2A 4X7,(403) 387-0850\n',
 '-114.145518,51.1757,Walmart Supercentre; #1097,,35 Sage Hill Gate NW,Calgary ,AB T3R 0S4,(587) 230-8411\n',
 '-113.989925,51.053615,Walmart Supercentre; #3012,,3800 Memorial Dr NE,Calgary ,(NOP),AB T2A 2K2,(403) 235-2352\n',
 '-113.966699,50.930235,Walmart Supercentre; #3650,,4705 130th Ave,Calgary ,AB T2Z 4J2,(403) 726-0430\n',
 '-114.142114,51.097447,Walmart; #3011,Gas,,5005 Northland Dr NW,Calgary ,(NOP),AB T2L 2K1,(403) 247-8585\n']

In [2]:
split_lines = [line.split(',') for line in lines]
split_lines[:5]

[['ï»¿-114.005671',
  '51.262567',
  'Walmart Supercentre; #1050',
  '',
  '2881 Main St SW',
  'Airdrie ',
  'AB T4B 3G5',
  '(403) 945-1295\n'],
 ['-111.900542',
  '50.577939',
  'Walmart Supercentre; #3658',
  '',
  '917 3rd St W',
  'Brooks ',
  'AB T1R 1L5',
  '(403) 793-2111\n'],
 ['-114.039133',
  '51.107253',
  'Walmart Supercentre; #3013',
  '',
  '1110 57th Ave NE',
  'Calgary ',
  '(NOP)',
  'AB T2E 9B7',
  '(403) 730-0990\n'],
 ['-114.138488',
  '51.040871',
  'Walmart Supercentre; #3009',
  'Gas',
  '',
  '1212 37 St SW',
  'Calgary ',
  '(NOP)',
  'AB T3C 1S3',
  '(403) 242-2205\n'],
 ['-114.028603',
  '50.930551',
  'Walmart; #1144',
  '',
  '1221 Canyon Meadows Dr SE',
  'Calgary ',
  'AB T2J 6G2',
  '(403) 225-6638\n']]

##### Step 1b - Use the `csv.reader` to auto-split the lines.

In [3]:
# Your code here
import csv

with open('./data/Walmart_United_States_&_Canada_bad.csv') as f:
    reader = csv.reader(f)
    split_lines = [line for line in reader]
split_lines[:2]

[['ï»¿-114.005671',
  '51.262567',
  'Walmart Supercentre; #1050',
  '',
  '2881 Main St SW',
  'Airdrie ',
  'AB T4B 3G5',
  '(403) 945-1295'],
 ['-111.900542',
  '50.577939',
  'Walmart Supercentre; #3658',
  '',
  '917 3rd St W',
  'Brooks ',
  'AB T1R 1L5',
  '(403) 793-2111']]

#### 2a - Use a list comprehension to explore the row length

In [5]:
# Your code here
row_lengths = [len(row) for row in split_lines]
row_lengths[:10]

[8, 8, 9, 10, 8, 8, 8, 9, 8, 10]

#### 2b - Use a set comprehension to explore the row lengths.

In [7]:
# Your code here
unique_lengths = {len(row) for row in split_lines}
unique_lengths

{8, 9, 10, 11, 12}

#### 3 - Use a sequence of list comprehensions to split the rows into cases (e.g., use a filter)

In [34]:
# Your code here

#### Inspect a few rows of each type and report what you find.  Any common patterns?

In [35]:
# Your code here

> Your thoughts here

## <font color="red"> Exercise 2.2 - Fixed width data files. </font>

The file `./data/1750.csv` was found in the NOAA website and contains all available information on all available weather station readings from 1790.  This file is an example of a data file that uses a fixed width format to store the data

#### Step 1 - Read the raw lines into a list and inspect the first few lines.

In [8]:
# Your code here
with open('./data/1750.csv') as f:
    lines = f.readlines()
lines[:10]

['ASN00002061,17500201,PRCP,56,,,a,\n',
 'ASN00003014,17500201,PRCP,0,,,a,\n',
 'ASN00003059,17500201,PRCP,0,,,a,\n',
 'ASN00003088,17500201,PRCP,0,,,a,\n',
 'ASN00009015,17500201,PRCP,0,,,a,\n',
 'ASN00009193,17500201,TMIN,187,,,a,\n',
 'ASN00009193,17500201,PRCP,0,,,a,\n',
 'ASN00009500,17500201,DATX,2,,,a,\n',
 'ASN00009500,17500201,MDTX,210,,,a,\n',
 'ASN00009592,17500201,DATX,4,,,a,\n']

In [10]:
split_lines = [line.split(',') for line in lines]
split_lines[:20]

[['ASN00002061', '17500201', 'PRCP', '56', '', '', 'a', '\n'],
 ['ASN00003014', '17500201', 'PRCP', '0', '', '', 'a', '\n'],
 ['ASN00003059', '17500201', 'PRCP', '0', '', '', 'a', '\n'],
 ['ASN00003088', '17500201', 'PRCP', '0', '', '', 'a', '\n'],
 ['ASN00009015', '17500201', 'PRCP', '0', '', '', 'a', '\n'],
 ['ASN00009193', '17500201', 'TMIN', '187', '', '', 'a', '\n'],
 ['ASN00009193', '17500201', 'PRCP', '0', '', '', 'a', '\n'],
 ['ASN00009500', '17500201', 'DATX', '2', '', '', 'a', '\n'],
 ['ASN00009500', '17500201', 'MDTX', '210', '', '', 'a', '\n'],
 ['ASN00009592', '17500201', 'DATX', '4', '', '', 'a', '\n'],
 ['ASN00009592', '17500201', 'MDTX', '278', '', '', 'a', '\n'],
 ['ASN00009752', '17500201', 'DAPR', '4', '', '', 'a', '\n'],
 ['ASN00009752', '17500201', 'DWPR', '4', '', '', 'a', '\n'],
 ['ASN00009752', '17500201', 'MDPR', '8', '', '', 'a', '\n'],
 ['ASN00009784', '17500201', 'DAPR', '3', '', '', 'a', '\n'],
 ['ASN00009784', '17500201', 'DWPR', '3', '', '', 'a', '\n'],
 ['ASN00009784', '17500201', 'MDPR', '30', '', '', 'a', '\n'],
 ['ASN00010006', '17500201', 'PRCP', '0', '', '', 'a', '\n'],
 ['ASN00010152', '17500201', 'PRCP', '0', '', '', 'a', '\n'],
 ['ASN00010536', '17500201', 'DATX', '4', '', '', 'a', '\n']]

#### Step 2 - Comment on the nature of the file.

> Your thoughts here

#### Step 3 - Use a list comprehension that uses the string's split and trim methods to split each line into a row.

In [15]:
# Your code here
clean_rows = [line.strip().split(',') for line in lines]
clean_rows[5]

['ASN00009193', '17500201', 'TMIN', '187', '', '', 'a', '']

#### Step 4 - Determine the header labels.

Use the `by_year` readme from [this NOAA website](https://www.ncei.noaa.gov/pub/data/ghcn/daily/) to determine the column names.  Save them in a list in the correct order.

In [19]:
# Your code here
header = [
    "ID",
    "DATE",
    "ELEMENT",
    "DATA_VALUE",
    "M_FLAG",
    "Q_FLAG",
    "S_FLAG",
    "OBS_TIME"
]

#### Step 5 - Use `enumerate`, your header, and a `dict` comprehension to make a list of rows stored as a `dict`

In [22]:
# Your code here
dict_rows = [
    {col_name: row[id] for id, col_name in enumerate(header)}
    for row in clean_rows
]
dict_rows[5]

{'ID': 'ASN00009193',
 'DATE': '17500201',
 'ELEMENT': 'TMIN',
 'DATA_VALUE': '187',
 'M_FLAG': '',
 'Q_FLAG': '',
 'S_FLAG': 'a',
 'OBS_TIME': ''}

#### Step 6 - Convert the list of `dict` rows to a `pl.DataFrame`

In [24]:
# Your code here
import polars as pl
df = pl.DataFrame(dict_rows)
df.head(5)

shape: (5, 8)
┌─────────────┬──────────┬─────────┬────────────┬────────┬────────┬────────┬──────────┐
│ ID          ┆ DATE     ┆ ELEMENT ┆ DATA_VALUE ┆ M_FLAG ┆ Q_FLAG ┆ S_FLAG ┆ OBS_TIME │
│ ---         ┆ ---      ┆ ---     ┆ ---        ┆ ---    ┆ ---    ┆ ---    ┆ ---      │
│ str         ┆ str      ┆ str     ┆ str        ┆ str    ┆ str    ┆ str    ┆ str      │
╞═════════════╪══════════╪═════════╪════════════╪════════╪════════╪════════╪══════════╡
│ ASN00002061 ┆ 17500201 ┆ PRCP    ┆ 56         ┆        ┆        ┆ a      ┆          │
│ ASN00003014 ┆ 17500201 ┆ PRCP    ┆ 0          ┆        ┆        ┆ a      ┆          │
│ ASN00003059 ┆ 17500201 ┆ PRCP    ┆ 0          ┆        ┆        ┆ a      ┆          │
│ ASN00003088 ┆ 17500201 ┆ PRCP    ┆ 0          ┆        ┆        ┆ a      ┆          │
│ ASN00009015 ┆ 17500201 ┆ PRCP    ┆ 0          ┆        ┆        ┆ a      ┆          │
└─────────────┴──────────┴─────────┴────────────┴────────┴────────┴────────┴──────────┘